.header {
  margin: 30px 0;
}

.button-load {
  padding: 0 30px;
}

#subtitles {
  max-height: 360px;
  overflow-y: auto;
}

#subtitles .line {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

#subtitles .line::before {
  content: attr(data-start-formatted);
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 80%;
  color: #d6d6ec;
}


#recordings {
  margin-top: 50px;
}

#recordings .audio {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border-color: #4b48d6;
  color: #5755d9;
}

#recordings .audio audio {
  height: 1.4rem;
}

#recordings .audio button {
  font-size: 1.2rem;
  margin-left: 10px;
}

#result .divider-vert {
  display: none;
}

#help .shortcut div.col-2 {
  text-align: center;
}

#controls {
  margin: 30px 0;
}

#controls button {
  width: 100%;
}