<!doctype html>
<html>
<head>
  <title>Shadowing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <link rel="stylesheet" href="/static/css/spectre.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/fontawesome/css/all.css">

  <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="/static/js/zepto.min.js"></script>
  <script type="text/javascript" src="/static/js/recorder.js"></script>
  <script type="text/javascript" src="/static/js/shadowing.js"></script>
</head>
<body>
    <div class="container grid-lg">
      <div class="columns header">
        <div class="column col-8 col-mx-auto col-md-12">
          <form id="link-form" class="input-group">
            <input type="text" name="youtube_link" 
                   class="form-input" placeholder="Youtube link"
                   id="youtube-link">
            <button type="submit" class="btn btn-primary input-group-btn button-load">Load</button>
          </form>          
        </div>
      </div>

      <div class="columns content" id="result">
        <div class="column col-6 col-md-12" id="video"></div>

        <div class="column col-md-12 show-md" id="controls">
          <div class="columns controls">
            <div class="column col-md-3">
              <button class="btn button-backward"><i class="fa fa-backward"></i></button>
            </div>
            <div class="column col-md-6">
              <button class="btn btn-primary button-play"><i class="fa fa-play"></i></button>
            </div>
            <div class="column col-md-3">
              <button class="btn button-forward"><i class="fa fa-forward"></i></button>
            </div>
          </div>
        </div>

        <div class="divider-vert hide-md"></div>
        <div class="column col-md-12" id="subtitles"></div>
      </div>

      <div class="columns">
        <div class="column col-8 col-md-12 col-mx-auto">
          <div class="controls hide-md">
            <div class="columns controls">
              <div class="column col-md-3">
                <button class="btn button-backward"><i class="fa fa-backward"></i></button>
              </div>
              <div class="column col-md-6">
                <button class="btn btn-primary button-play"><i class="fa fa-play"></i></button>
              </div>
              <div class="column col-md-3">
                <button class="btn button-forward"><i class="fa fa-forward"></i></button>
              </div>
            </div>
          </div>

          <div id="recordings"></div>

          <div id="help">
            <h5>Keyboard shortcuts</h5>

            <div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Spacebar</kbd></div>
                <div class="column col-10">Play/pause video, start/pause audio recording</div>
              </div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Enter</kbd></div>
                <div class="column col-10">Play/pause video, start/<b>stop</b> audio recording</div>
              </div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Left</kbd></div>
                <div class="column col-10">Video 5s backward</div>
              </div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Right</kbd></div>
                <div class="column col-10">Video 5s forward</div>
              </div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Up</kbd></div>
                <div class="column col-10">Video 5% faster</div>
              </div>
              <div class="shortcut columns">
                <div class="column col-2"><kbd>Down</kbd></div>
                <div class="column col-10">Video 5% slower</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
